@import '../../helpers.scss';
.header {
  height: rem(64);
  padding-right: rem($padding);
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: rem(64);
  }
  li {
    display: inline-block;
    height: rem(64);
    line-height: rem(64);
    a {
      display: inline-block;
      padding: 0 rem(15);
      line-height: rem(64);
      height: rem(64);
    }
  }
}
